{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <a data-bs-toggle="modal" data-bs-target="#addTransactionModal">
          <button type="submit" class="btn btn-primary">Add</button>
        </a>

               <!--add transaction-->
              <div class="modal fade" id="addTransactionModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

          <!--Modal body-->
                    <form method="POST" action="{% url 'add_transaction' %}">
                      {% csrf_token %}
                    <div class="modal-body">
                      <div class="row mb-3">
                        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-10">
                          <input type="number" name="amount" class="form-control" id="amount" required>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="tran_time" class="col-sm-2 col-form-label">Transaction Time</label>
                        <div class="col-sm-10">
                          <input type="datetime-local" name="tran_time" class="form-control" id="tran_time" required>
                      </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Category</label>
                          <div class="col-sm-10">
                            <select class="selectpicker" name="category" data-live-search="true" id="example-multiple-optgroups" required>
                              <optgroup label="Necessary Expense" class="group-2">
                                  <option>Food & Drink</option>
                                  <option>Transportation</option>
                                  <option>Rentals</option>
                                  <option>Water & Electricity</option>
                                  <option>Internet</option>
                                  <option>Household Utensils</option>
                                  <option>Family Payments</option>
                              </optgroup>

                              <optgroup label="Self Improvement" class="group-3">
                                  <option>Education</option>
                                  <option>Gym & Fitness</option>
                                  <option>Medical Check-up</option>
                              </optgroup>

                              <optgroup label="Long-term Saving" class="group-4">
                                  <option>Saving Money</option>
                              </optgroup>

                              <optgroup label="Investing" class="group-5">
                                  <option>Investing</option>
                              </optgroup>

                              <optgroup label="Play & Relax" class="group-6">
                                  <option>Online Services</option>
                                  <option>Relax Services</option>
                              </optgroup>

                              <optgroup label="Give Away" class="group-7">
                                  <option>Charity Organization</option>
                                  <option>Help Acquaintance</option>
                                  <option>Help Stranger</option>
                              </optgroup>

                              <optgroup label="Income" class="group-8">
                                  <option>Salary</option>
                                  <option>Bonus</option>
                                  <option>Other Income</option>
                              </optgroup>
                            </select>
                          </div>
                      </div>

                      <div class="row mb-3">
                        <label for="note" class="col-sm-2 col-form-label">Note</label>
                        <div class="col-sm-10">
                          <textarea name="note" class="form-control" style="height: 100px" id="note"></textarea>
                        </div>
                      </div>
                      <div class="row mb-3">
                  <label for="tran_image" class="col-sm-2 col-form-label">File Upload</label>
                  <div class="col-sm-10">
                    <input class="form-control" name="tran_image" type="file" id="tran_image">
                  </div>
                </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="submit" >Add Transaction</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>

      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Inflow Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                      <select id="dropdown_inflow">
                      <option class="dropdown-item" value="empty" disabled selected> please select </option>
                      <option class="dropdown-item" value="0">Today</option>
                      <option class="dropdown-item" value="1">This month</option>
                      <option class="dropdown-item" value="2">This year</option>
                    </select>

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Income <span id="inflow_name">| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <p style="font-weight: bold"><span id="inflow_amount">{{ inflow_today }}</span><span> {{ currency_unit }}</span></p>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Inflow Card -->

  <script type="text/javascript">

</script>

             <!-- Outflow Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                      <select id="dropdown_outflow">
                      <option class="dropdown-item" value="empty" disabled selected> please select </option>
                      <option class="dropdown-item" value="0">Today</option>
                      <option class="dropdown-item" value="1">This month</option>
                      <option class="dropdown-item" value="2">This year</option>
                    </select>

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Outcome <span id="outflow_name">| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <p style="font-weight: bold"><span id="outflow_amount">{{ outflow_today }}</span><span> {{ currency_unit }}</span></p>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Inflow Card -->

  <script type="text/javascript">
  window.onload = function() {
  let
    Outflow_name = document.getElementById("outflow_name"),
    Outflow_amount = document.getElementById("outflow_amount"),
    mySelect_out = document.getElementById("dropdown_outflow")
  ;

  mySelect_out.onchange = function(){

    switch (mySelect_out.value)  {
      case '0':
        Outflow_name.textContent = "| Today";
        Outflow_amount.textContent = {{ outflow_today }};
      break;
      case '1':
        Outflow_name.textContent = "| Month";
        Outflow_amount.textContent = {{ outflow_month }};
      break;
      case '2':
        Outflow_name.textContent = "| Year"
        Outflow_amount.textContent = {{ outflow_year }};
      break;

    }
  }

    let
    Inflow_name = document.getElementById("inflow_name"),
    Inflow_amount = document.getElementById("inflow_amount"),
    mySelect_in = document.getElementById("dropdown_inflow")
  ;


  mySelect_in.onchange = function(){

    switch (mySelect_in.value)  {
      case '0':
        Inflow_name.textContent = "| Today";
        Inflow_amount.textContent = {{ inflow_today }};
      break;
      case '1':
        Inflow_name.textContent = "| Month";
        Inflow_amount.textContent = {{ inflow_month }};
      break;
      case '2':
        Inflow_name.textContent = "| Year"
        Inflow_amount.textContent = {{ inflow_year }};
      break;

    }
  }


}


</script>


            <!-- Total Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Balance</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-award-fill"></i>
                    </div>
                    <div class="ps-3">
                      <p style="font-weight: bold">{{ total }} {{ currency_unit }}</p>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Total Card -->

            <!-- Day Track -->
            <div class="col-12">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Day Track</h5>

              <!-- Line Chart -->
              <div id="dayChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#dayChart"), {
                    series: [{
                      name: "Balance",
                      data: {{ data_total_day|safe }}
                    }],
                    chart: {
                      height: 350,
                      type: 'area',
                      zoom: {
                        enabled: false
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'straight'
                    },
                    grid: {
                      row: {
                        colors: ['#f3f3f3', 'transparent'],
                        opacity: 0.5
                      },
                    },
                    xaxis: {
                      categories: {{ categories_day|safe }},
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->

            </div>
          </div>
            </div><!-- End Month Track -->

            <!-- Month Track -->
            <div class="col-12">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Month Track</h5>

              <!-- Line Chart -->
              <div id="monthChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#monthChart"), {
                    series: [{
                      name: "Balance",
                      data: {{ data_total_month|safe }}
                    }],
                    chart: {
                      height: 350,
                      type: 'area',
                      zoom: {
                        enabled: false
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'straight'
                    },
                    grid: {
                      row: {
                        colors: ['#f3f3f3', 'transparent'],
                        opacity: 0.5
                      },
                    },
                    xaxis: {
                      categories: {{ categories_month|safe }},
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->

            </div>
          </div>
            </div><!-- End Month Track -->


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
        <!-- Recent Activity -->
          <div class="card">


            <div class="card-body">
              <h5 class="card-title">Recent Transactions <span>| Today</span></h5>
              {% if transactions %}
              <div class="activity">
                {% for transaction in transactions %}
                <div class="activity-item d-flex">
                  <div class="activite-label">{{ transaction.tran_time|slice:"11:" }}</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content text-dark">
                    <span><span class="fw-bold">{{ transaction.category }}</span>
                    <span>&nbsp;/&nbsp;{{ transaction.note }}&nbsp;/&nbsp;</span></span>
                    <p class="text-danger fw-bold" style="margin-bottom:0px">{{ transaction.amount }}&nbsp;{{ currency_unit }}</p>
                  </div>
                </div><!-- End activity item-->
                {% endfor %}
              </div>
              {% endif %}
              <a href="{% url 'user_transaction' %}" style="margin-top: 25px; font-size:15px"><u>See All</u></a>
            </div>
          </div><!-- End Recent Activity -->



          <!-- Money-saving tips -->
          <div class="card">

            <div class="card-body pb-0">
              <h5 class="card-title">Money-saving tips</h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="{% static 'img/news-1.jpg' %}" alt="">
                  <h4><a href="https://www.vacu.org/learn/financial-management/saving-and-investing/10-tips-for-saving-money">10 Tips for Saving Money</a></h4>
                  <p>While you may not have control over the economy, you do have control over the actions that you take
                    . Compliments of BALANCE, here are 10 ways to manage your finances.</p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'img/news-2.jpg' %}" alt="">
                  <h4><a href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/ways-to-save-money">Simple ways to save money</a></h4>
                  <p>Sometimes the hardest thing about saving money is just getting started. This step-by-step guide can
                    help you develop a simple and realistic strategy, so that you can save for all your short- and long-term goals.</p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'img/news-3.jpg' %}" alt="">
                  <h4><a href="https://www.goodhousekeeping.com/uk/consumer-advice/money/a32224339/money-saving-tips/">Help you cut the monthly bills</a></h4>
                  <p>How we're spending our money has changed so much over the past 12 months. Whether you have saved
                    more or exhausted your funds, we all need a little financial inspiration to help us save where we can.
                   </p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'img/news-4.jpg' %}" alt="">
                  <h4><a href="https://www.nerdwallet.com/article/finance/how-to-save-money">How to Save Money: 22 Proven Ways</a></h4>
                  <p>Find long-term savings by shopping smart, bundling services, canceling subscriptions and more.</p>
                </div>


              </div><!-- End sidebar recent posts-->
              <!-- Pagination with icons -->
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav><!-- End Pagination with icons -->
            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>


  </main><!-- End #main -->
{% endblock %}